* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', sans-serif;
}



/* HEADER  */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

/* Menu  */
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

/* menu */
button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--text-color);
    text-decoration: none;
    /* bỏ màu highlight đen khi hover vào  */
    background-color: transparent;
}

@media only screen and (max-width: 1440px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 15px;
    }

    .navbar-expand-lg .nav_btn>li {
        padding: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar .navbar-brand img {
        max-width: 109px;
    }

    .navbar-expand-lg .btn-gradient {
        padding: 10px 20px;
        font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn>li {
        margin-left: 0px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn a.btn {
        padding: 10px 20px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn a {
        font-size: 14px;
        padding: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .popup {
        display: none;
    }

    a.nav-link:before,
    a.dropdown-item:before {
        bottom: 5px;
    }

    .navbar .navbar-brand img {
        max-width: 140px;
    }

    .navbar-toggler {
        border: 0 none;
        font-size: 24px;
    }

    .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-nav:last-child {
        border: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        -webkit-animation-name: none;
        animation-name: none;
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav.nav_btn>li {
        padding-bottom: 10px;
    }

    .navbar-nav .dropdown-menu {
        text-align: center;
    }

    .navbar-nav .dropdown-menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
        bottom: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        padding: 8px 0;
        text-align: center;
    }

    header {
        height: auto;
        padding: 15px 0;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
    }

    .phone {
        text-align: center;
    }

    .phone a {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .phone a span {
        color: #fff;
    }

    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: block;
    }
    .ml-auto, .mx-auto {
        margin-left: auto !important;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: #dc4f72;
        border-radius: 4px;
        text-align: center;
    }

    .navbar-toggler-icon.fa {
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
        background-color: #dc4f72;
        border-radius: 5px;
    }

    .navbar-toggler {
        padding: 0rem 0rem !important;
    }
}

@media only screen and (max-width: 767px) {

    #site-footer .copyright,
    #site-footer ul.footer-menu {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-brand img {
        max-width: 200px;
    }
}

/*  */

/* nút home mặc định màu hồng  */
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: "";
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}


.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}



/* Thanh dropdown nut pages  */
a.dropdown-item:hover {
    color: #dc4f72;
}

a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: var(--title-color);
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

/*  */


.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}