* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}

html,
body {
    font-family: 'Nunito', sans-serif;
}

.clear {
    clear: both;
}

a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114);
}


/* padding top , bot ...  */
.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}


@media (min-width: 576px) {
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/* HEADER  */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

/* Menu  */
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

/* menu */
button.navbar-toggler .icon-close {
    display: block;
}

button.navbar-toggler .icon-expand {
    display: none;
}

button.navbar-toggler.collapsed .icon-close {
    display: none;
}

button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--text-color);
    text-decoration: none;
    /* bỏ màu highlight đen khi hover vào  */
    background-color: transparent;
}

@media only screen and (max-width: 1440px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        padding: 0 15px;
    }

    .navbar-expand-lg .nav_btn>li {
        padding: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar .navbar-brand img {
        max-width: 109px;
    }

    .navbar-expand-lg .btn-gradient {
        padding: 10px 20px;
        font-size: 14px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn>li {
        margin-left: 0px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn a.btn {
        padding: 10px 20px;
    }

    .navbar-expand-lg .navbar-nav.nav_btn a {
        font-size: 14px;
        padding: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .popup {
        display: none;
    }

    a.nav-link:before,
    a.dropdown-item:before {
        bottom: 5px;
    }

    .navbar .navbar-brand img {
        max-width: 140px;
    }

    .navbar-toggler {
        border: 0 none;
        font-size: 24px;
    }

    .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar-nav:last-child {
        border: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        -webkit-animation-name: none;
        animation-name: none;
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav.nav_btn>li {
        padding-bottom: 10px;
    }

    .navbar-nav .dropdown-menu {
        text-align: center;
    }

    .navbar-nav .dropdown-menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
        bottom: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: inline-block;
        padding: 8px 0;
        text-align: center;
    }

    header {
        height: auto;
        padding: 15px 0;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        transform: translateX(0px);
    }

    .phone {
        text-align: center;
    }

    .phone a {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .phone a span {
        color: #fff;
    }

    header.nav-fixed {
        height: auto;
        padding: 10px 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: block;
    }

    .ml-auto,
    .mx-auto {
        margin-left: auto !important;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: var(--primary);
        border-radius: 4px;
        text-align: center;
    }

    .navbar-toggler-icon.fa {
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
        background-color: var(--primary);
        border-radius: 5px;
    }

    .navbar-toggler {
        padding: 0rem 0rem !important;
    }
}

@media only screen and (max-width: 767px) {

    #site-footer .copyright,
    #site-footer ul.footer-menu {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-brand img {
        max-width: 200px;
    }
}

/*  */

/* nút home mặc định màu hồng  */
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary);
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: "";
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
}


.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary);
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}



/* Thanh dropdown nut pages  */
a.dropdown-item:hover {
    color: var(--primary);
}

a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: var(--title-color);
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

/*  */


.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.dropdown-toggle::after {
    display: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


/* CAROUSEL  */
.carousel-capstone {
    margin-top: 90px;
}

.carousel-capstone .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.align-items-center {
    align-items: center !important;
}

.content-left {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700;
}

.content-left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* TOOL FOR BUSINESS  */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.text-center {
    text-align: center !important;
}

.tool-for-business .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}

.d-block {
    display: block !important;
}

.tool-for-business .s-block h3 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.tool-for-business .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    ;
    transform: translateY(-0.5rem);
    text-decoration: none;
}

.tool-for-business .s-block p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* ABOUT OUR COMPANY */
.about-our {
    background-color: #F7F9FC;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about-our .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}

.about-our .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

/* Number  */
.number {
    background-color: #F7F9FC;
}

.number .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.number p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.number .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}

/* WE ARE TRUE  */
.we-are-true .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.we-are-true .middle-section {
    max-width: 550px;
}

.we-are-true .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.we-are-true .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/* EXPLORE SOLUTION */
.solution .grids5-info {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.solution .grid-view a.zoom {
    border-top-left-radius: var(--card-curve);
    border-top-right-radius: var(--card-curve);
}

.solution a.zoom {
    overflow: hidden;
    position: relative;
}

.solution a.zoom img {
    transition: 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.solution .grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.solution .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.solution .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.solution .grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: var(--primary);
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.solution .grids5-info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}

.solution .grids5-info:hover a.zoom img {
    overflow: hidden;
    -webkit-filter: grayscale(0);

    /* Hien mau  */
    filter: grayscale(0);

    transition: 0.3s ease-in-out;
}

.solution .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.solution label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.solution label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}

.solution .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: var(--title-color);
    display: block;
    font-weight: 600;
}

.solution a.btn-news {
    padding: 0;
    color: var(--primary);
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.solution a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}

.solution .grids5-info:hover div.blog-info h4 a {
    color: var(--primary);
}

.solution label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.solution label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}


/* QUESTIONS AND ANSWERS */
.questions__answers {
    background-color: var(--light-bg-color);
}

.questions__answers .faq-image {
    /* position: sticky chỉ hoạt động trong thành phần cha chứa nó (Tức là: chỉ bám dính trên thành phần cha chứa nó, nếu thành phần cha bị scroll ra ngoài window thì thành phần con có sử dụng sticky cũng sẽ bị kéo theo). */
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

img.img-curve:hover {

    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.questions__answers .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

.questions__answers .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.questions__answers .w3l-faq ul li:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.questions__answers .w3l-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: #fff;
}

/* Nut bung thong tin xuong  */
.questions__answers .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}

.questions__answers .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

/* i before  */
.questions__answers .w3l-faq ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.questions__answers .w3l-faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.questions__answers .w3l-faq ul li i:before,
.questions__answers .w3l-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}

/* i after  */
.questions__answers .w3l-faq ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

.questions__answers .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

/* ~~~~~~~~~~~~~~~~~~~ */

.questions__answers.w3l-faq .transition,
.questions__answers .w3l-faq p,
.questions__answers .w3l-faq ul li i:before,
.questions__answers .w3l-faq ul li i:after {
    transition: all 0.25s ease-in-out;
}

.questions__answers .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}

.questions__answers .w3l-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.questions__answers .w3l-faq ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}




input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

button,
input {
    overflow: visible;
}



/* FEATURED CASES   */
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between;
}
.nav-tabs .nav-link {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4E5B61;
    background: #fff !important;
    border-bottom: 3px solid #eee;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px var(--primary) solid !important;
    color: var(--primary) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color:  #fff;
    border-bottom: 3px solid #eee;
}
/* ~~~~~~~~~~~ */
.tab-content h3 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.tab-content p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}





/* FOOTER  */
.w3l-footer .w3l-footer-16-main.py-5 {
    background: var(--light-bg-color);
}

.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}
.w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: var(--title-color);
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input[type="email"] {
    background: var(--light-bg-color);
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: var(--title-color);
    font-weight: 600;
    border-radius: var(--card-curve);
}
.w3l-footer .subscribe button {
    text-align: center;
    background: var(--primary);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: var(--card-curve);
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: var(--text-color);
    font-size: 16px;
}

/* ~~~~~~~~~ */
.w3l-footer .below-section, .w3l-footer .para-content-footer {
    border-top: 1px solid #eaeaea;
}
.w3l-footer .w3l-footer-16-main p a {
    color: var(--title-color);
}

.w3l-footer ul.social li, .w3l-footer ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
}

.w3l-footer ul.social li a {
    color: var(--title-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer ul.social li a span {
    font-size: 15px;
    line-height: 36px;
}






/* MOVETOP */
.w3l-footer #movetop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: var(--primary);
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
}
.w3l-footer #movetop:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.w3l-footer #movetop span.fa {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}
.cd-top--is-visible { 
    /* back-to-top button visible */
    visibility: visible;
    opacity: 1;
  }
  
